/*
Name:			MyProblem
Description: 	Stylesheet for MyProblem
Version: 		1.0
Author: 		Patrick Keaveny and (hopefully) Tyson Reeder
Author URI: 	http://www.patrickkeaveny.com

*/

/* Reset is good, but not needed right now.
@import "reset.css";

*/

#name-controller { display:none; }

@media screen and (max-width: 900px) {

}
@media screen and (max-width: 600px) {

}

.opacity { opacity: 1; }
.opacity-none { opacity: 0; }
.fixed {
	position: fixed;
}
.hidden {
	display:none;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.opacity { 
	opacity: 1;
	pointer-events: auto; 
}
